html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-size: 1rem;
}

.style-shadow {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.38);
}

.feature {
    font-size: 1.25rem;
    color: #ffff;
}

.white-back {
    color: #fff;
}

.gradient {
    background: rgb(2, 97, 242);
    background: linear-gradient(90deg,
            rgba(2, 0, 36, 1) 0%, rgba(208, 127, 37, 1) 48%,
            rgba(126, 84, 62, 0.6908964269301471) 100%);
}

.icon {
    color: #ffff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#myNavbar a:not(.navbar-brand) {
    color: #282828;
    transition: color 0.3s;
    font-weight: 500;
    margin-right: 5px;
}

#myNavbar li.nav-item:not(:last-child) {
    margin-right: 10px;
}

#myNavbar a:not(.navbar-brand):hover {
    color: #f90;
}

#myNavbar a:not(.navbar-brand)::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f90;
    transition: width 0.3s;
}

#myNavbar a:not(.navbar-brand):hover::after {
    width: 100%;
}

#home {
    margin-top: 4.38rem;
    font-size: 1.25rem;
    color: #fff;
    position: relative;
    box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.5);
}

#home-row {
    padding-left: 10px;
    padding-right: 10px;
}

#home-container {
    padding-bottom: 25px;
}

#home-text-column {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#home-text-column h2 {
    margin-bottom: 10px;
}

#home-text-column p{
    text-align: justify;
    margin-bottom: 35px;
}

#home-image-column img {
    margin-top: 15px;
    margin-bottom: 12px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.Chefes {
    background-color: #f8f9fa;
    padding-top: 40px;
    padding-bottom: 40px;
}

.Chefes h2 {
    margin-bottom: 25px;
}

.Chefes img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

.Chefes p {
    font-weight: bold;
    font-style: italic;
}

#QuemSomos {
    position: relative;
    box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.5), 0px -10px 15px -10px rgba(0, 0, 0, 0.5);
    scroll-margin-top: 70px; /* para que ao clicar num botao da barra de navegaçao, ele ignore o espaco ocupado pela barra e mostre todo o conteudo da seccao */
}

#QuemSomos-container {
    padding-bottom: 25px;
}

#QuemSomos-row {
    padding-left: 10px;
    padding-right: 10px;
}

#QuemSomos h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-align: center;
}

#QuemSomos p {
    color: #e0e0e0;
    font-size: 1.2rem;
    text-align: justify;
}

#QuemSomos ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#QuemSomos li {
    background-color: #4CAF50;
    color: #fff;
    padding: 4px 10px;
    border-radius: 8px;
    margin-bottom: 12px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

#galeria {
    background-color: whitesmoke;
    scroll-margin-top: 70px; /* para que ao clicar num botao da barra de navegaçao, ele ignore o espaco ocupado pela barra e mostre todo o conteudo da seccao */
}

#galeria-row {
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 3px;
    padding-right: 3px;
}

#galeria-col-titulo {
    text-align: center;
    padding-bottom: 20px;
}

.carousel-inner .carousel-item {
    transition: transform 0.6s ease;
}

.carousel-caption {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: -25px;
}
  
  .carousel-caption h5,
  .carousel-caption p {
    margin: 0;
}

#vantagens-row {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#vantagens-col-3 {
    padding-top: 50px;
}

#contactos {
    background-color: #F5F5F5;
    padding-bottom: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 15px;
    position: relative;
    box-shadow: 0px -10px 15px -10px rgba(0, 0, 0, 0.5);
}

#footer-container-1 {
    font-size: 1rem;
}

#footer-container-2 {
    padding-top: 8px;
    font-size: 0.8rem;
}

#footer-container-3 {
    font-size: 0.9rem;
}

a {
    color: #fff;
    text-decoration: none;
}