html,
body{
    heigth: 100%;
    font-size: 1rem;
}

gradient{
    background: rgb(2,0,36);
    background: linear-gradient(
        90deg,
         rgba(2,0,36,1) 0%, rgba(208,127,37,1) 48%, 
         rgba(126,84,62,0.6908964269301471) 100%
         ); 

}